# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Python build artifacts
dist/
build/
*.egg-info/

# Logs
*.log

# Data / ROMs (VERY important)
data/roms/
data/*.nds
